body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

button, input {
  width: 100%;
}

.btn-success {
  background-color: #2c1735;
}

.btn-success:hover {
  background-color: #442d46;
}

.main {
  width: 230px;
}
